In [1]:
import os
os.getcwd()
os.chdir('d:\\bot_telegram_customer_support\\sheets')


import utils
import pandas as pd

In [7]:
sh = utils.getGoogleSpreadsheet(
        'credentials.json',
        utils.ACCOUNT_STATE_SHEET_KEY
)
sheet = utils.getOrCreateGoogleWorksheet(sh, 'TLG Pago Movil')
pm_sheet = sh.worksheet('Ingreso Pago Movil')
df = pd.DataFrame(sheet.get_all_records())
df = df.loc[df['Estado'] == 'No Verificado']
df = df[['first_name', 'last_name', 'Telefono', 'Referencia', 'Monto']]
df

  first_name last_name   Telefono   Referencia     Monto
2      Edkar  Chachati  412354674  32835272414   3823360
3      Edkar  Chachati  123456789  61010011128   3994000
4      Edkar  Chachati  123654987  62911005227  12209000
5      Edkar  Chachati  412580123  62911005227  12209000